.uber {
  background-image: url('../img/bg/uber_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 31rem;
}

.header-batton {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 1rem;
}

.header_batton-logo {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-right: 19rem;
}

.header_batton-span {
  opacity: 0.6;
  line-height: 1.8rem;
  font-size: 1.3rem;
  text-align: right;
}

.header_batton-span1 {
  opacity: 0.6;
  line-height: 1.8rem;
  font-size: 1.3rem;
}

.header_batton-contact {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

.header_batton-tel {
  font-size: 2.2rem;
  line-height: 2.8rem;
}

.header_batton-button {
  width: 17.2rem;
  height: 4.6rem;
  border-radius: 4px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  box-shadow: 0 -3px 0 0 rgb(0 0 0 / 12%) inset;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 4.6rem;
}

.header_batton-button:hover {
  text-shadow: 1px 1px 0 rgb(0 0 0 / 21%);
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  line-height: 2.4rem;
  text-align: center;
  color: #fff;
}

.title {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
  line-height: 4.8rem;
  text-align: center;
}

.uber_text {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  padding-left: 7.7rem;
  padding-right: 7.8rem;
}

.uber_span {
  margin-top: 5rem;
}

.uber-btn {
  margin: 13rem 0;
  width: 25.9rem;
  height: 6.3rem;
  border-radius: 4px;
  background: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  color: #fff;
}

.uber-btn:hover {
  box-shadow: 0 -4px 0 0 rgb(0 0 0 / 12%) inset;
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.4rem;
  }

  .title {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 3.8rem;
  }

  .uber_text {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
  }

  .uber-btn {
    margin: 8rem;
  }
}

@media screen and (max-width: 991px) {
  .header_batton-logo {
    margin-right: 7rem;
  }

  .header_batton-tel {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .header_batton-span {
    line-height: 1.6rem;
    font-size: 1rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }

  .uber_text {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.6rem;
  }

  .uber_span {
    margin-top: 2rem;
  }

  .uber-btn {
    margin: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .header_batton-img {
    width: 18rem;
  }

  .header_batton-span1 {
    line-height: 1.3rem;
    font-size: 1rem;
  }

  .header_batton-span {
    display: none;
  }

  .header_batton-tel {
    display: none;
  }

  .header_batton-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.2rem;
    height: 3.6rem;
  }

  .uber_span {
    display: none;
  }

  .uber-btn {
    width: 21.9rem;
    height: 5.3rem;
  }

  h1 {
    line-height: 5rem;
  }
}

@media screen and (max-width: 479px) {
  .header_batton-button {
    width: 12.2rem;
    height: 2.6rem;
  }

  .header_batton-img {
    width: 16rem;
  }

  .header_batton-span1 {
    line-height: 1.3rem;
    font-size: 0.9rem;
  }

  .header_batton-logo {
    margin-right: 4rem;
  }

  h1 {
    line-height: 4rem;
    font-size: 3rem;
  }

  .uber-btn {
    width: 18.9rem;
    height: 4.3rem;
  }

  .title {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }

  .text_none {
    display: none;
  }
}

@media screen and (max-width: 368px) {
  .header_batton-logo {
    margin: 0;
  }

  .header_batton-contact {
    margin-right: 2rem;
  }
}
